#container{
    text-align: center;
    /* justify-content: center; */
    margin-top: 50px;

}

img{
    width: 100px;
}

#rock{
    font-size: 20px;
    padding: 20px;
    margin: 15px;
    background-color: rgb(121, 134, 138);

}
#paper{
    font-size: 20px;
    padding: 20px;
    margin: 15px;
    background-color: rgb(121, 134, 138);

}
#scissor{
    font-size: 20px;
    padding: 20px;
    margin: 15px;
    background-color: rgb(121, 134, 138);

}

#playerWin{
    /* text-align: center; */
    padding-right: 50px;
    margin-top: 10px;
}
#computerWin{
    /* text-align: center; */
    padding-left: 50px;
    margin-top: 10px;
}
#text{
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

#text-output{
    display: flex;
    justify-content: center;
}

#demo{
  padding-right: 150px;
  font-size: 40px;
}

#demo1{
  padding-left: 100px;
  font-size: 40px;
}

#result{
    /* justify-content: center; */
    text-align: center;
    font-size: 30px;

}

#flresult{
    margin-top: 20px;
    text-align: center;

}

#again{
    padding: 10px 600px;
    margin: 10px;
    margin-top: 30px;
}

#restart{
    font-size: 20px;
    border-radius: 5px;
    color: black;
    color: aliceblue;
    background-color: rgb(49, 51, 65);
}